{% load i18n %}
<div class="recipe recipe-list-item">
    <div class="recipe-cover">
        {% if recipe.cover %}
            <a href="{% url 'recipes:recipe' recipe.id %}">
                <img src="{{ recipe.cover.url }}" alt="Temporario">
            </a>
        {% else %}
            <a href="{% url 'recipes:recipe' recipe.id %}">
                <img src="/media/recipes/covers/imagem_nao_disponivel.jpg"
                    alt="Temporario">
            </a>
        {% endif %}
    </div>
    <div class="recipe-title-container">
        <h2 class="recipe-title">
            <a href="{% url 'recipes:recipe' recipe.id %}">
                {{ recipe.title }}
            </a>
        </h2>
    </div>

    <div class="recipe-author">
        
        {% if recipe.author is not None %}
            <span class="recipe-author-item">
                {% if recipe.author.profile %}
                    <a href="{% url 'authors:profile' recipe.author.profile.id %}">
                {% endif %}
                    <i class="fa-solid fa-user"></i>
                    {% if recipe.author.first_name %}
                        {{ recipe.author.first_name }} {{ recipe.author.last_name}}
                    {% else %}
                        {{ recipe.author.username}}
                    {% endif %}
                {% if recipe.author.profile %}
                    </a>
                {% endif %}
            </span>
        {% else %}
            <span class="recipe-author-item">
                <i class="fa-solid fa-user"></i>
                Autor Desconhecido
            </span>
        {% endif %}
        <span class="recipe-author-item">
            <i class="fa-solid fa-calendar-days"></i>
            {{recipe.created_at|date:"d/M/Y "}} às {{recipe.created_at|date:" H:i:s"}}
        </span>
        {% if recipe.category is not None %}
            <span class="recipe-author-item">
                <a href="{% url 'recipes:category' recipe.category.id %}">
                    <i class="fa-solid fa-layer-group"></i>
                    <span>{{ recipe.category.name }}</span>
                </a>
            </span>
        {% endif %}
    </div>

    <div class="recipe-content">
        <p>{{ recipe.description}}</p>
    </div>

    <div class="recipe-meta-container">
        <div class="recipe-meta recipe-preparation">
            <h3 class="recipe-meta-title"><i class="fa-solid fa-stopwatch"></i> {% translate 'Preparation' %}</h3>
            <div class="recipe-meta-text">
                {{ recipe.preparation_time }} {{ recipe.preparation_time_unit}}
            </div>
        </div>

        <div class="recipe-meta recipe-servings">
            <h3 class="recipe-meta-title"><i class="fa-solid fa-pizza-slice"></i> {% translate 'Servings' %}</h3>
            <div class="recipe-meta-text">
                {{ recipe.servings }} {{ recipe.servings_unit }}
            </div>
        </div>
    </div>

    {% if is_detail_page is not True %}
    <footer class="recipe-footer">
        <a href="{% url 'recipes:recipe' recipe.id %}" class="recipe-read-more button button-dark button-full-width">
            <i class="fa-solid fa-eye"></i>
            <span>{% translate 'See More' %}...</span>
        </a>
    </footer>
    {% endif %}

    {% if is_detail_page is True %}
    <div class="preparation-steps">
        {% if recipe.preparation_steps_is_html is True %}
            {{ recipe.preparation_steps|safe }}
        {% else %}
            {{ recipe.preparation_steps|linebreaksbr }}
        {% endif %}
        
        {% if recipe.tags.all %}
        <P>
            Tags:
            
            {% for tag in recipe.tags.all %}
                <a href="{% url 'recipes:tags' tag.slug %}">{{ tag.name}}, </a>
            {% endfor %}
                
        </P>
        {% endif %}
    </div>
    {% endif %}
</div>