<div class="recipe recipe-list-item">
    <div class="recipe-cover">
        {% if recipe.cover %}
            <a href="{% url 'recipes:recipe' recipe.id %}">
                <img src="{{ recipe.cover.url }}" alt="Temporario">
            </a>
            {{ recipe.cover.url }}
        {% else %}
            <a href="{% url 'recipes:recipe' recipe.id %}">
                <img src="/media/recipes/covers/imagem_nao_disponivel.jpg"
                    alt="Temporario">
            </a>
        {% endif %}
    </div>
    <div class="recipe-title-container">
        <h2 class="recipe-title">
            <a href="{% url 'recipes:recipe' recipe.id %}">
                {{ recipe.title }}
            </a>
        </h2>
    </div>

    <div class="recipe-author">
        
        {% if recipe.author is not None %}
            <span class="recipe-author-item">
                <i class="fa-solid fa-user"></i>
                {% if recipe.author.first_name %}
                    {{ recipe.author.first_name }} {{ recipe.author.last_name}}
                {% else %}
                    {{ recipe.author.username}}
                {% endif %}
            </span>
        {% else %}
            <span class="recipe-author-item">
                <i class="fa-solid fa-user"></i>
                Autor Desconhecido
            </span>
        {% endif %}
        <span class="recipe-author-item">
            <i class="fa-solid fa-calendar-days"></i>
            {{recipe.created_at|date:"d/M/Y "}} às {{recipe.created_at|date:" H:i:s"}}
        </span>
        {% if recipe.category is not None %}
            <span class="recipe-author-item">
                <a href="{% url 'recipes:category' recipe.category.id %}">
                    <i class="fa-solid fa-layer-group"></i>
                    <span>{{ recipe.category.name }}</span>
                </a>
            </span>
        {% endif %}
    </div>

    <div class="recipe-content">
        <p>{{ recipe.description}}</p>
    </div>

    <div class="recipe-meta-container">
        <div class="recipe-meta recipe-preparation">
            <h3 class="recipe-meta-title"><i class="fa-solid fa-stopwatch"></i> Preparo</h3>
            <div class="recipe-meta-text">
                {{ recipe.preparation_time }}
            </div>
        </div>

        <div class="recipe-meta recipe-servings">
            <h3 class="recipe-meta-title"><i class="fa-solid fa-pizza-slice"></i> Porções</h3>
            <div class="recipe-meta-text">
                {{ recipe.servings_unit }}
            </div>
        </div>
    </div>

    {% if is_detail_page is not True %}
    <footer class="recipe-footer">
        <a href="{% url 'recipes:recipe' recipe.id %}" class="recipe-read-more button button-dark button-full-width">
            <i class="fa-solid fa-eye"></i>
            <span>Ver mais...</span>
        </a>
    </footer>
    {% endif %}

    {% if is_detail_page is True %}
    <div class="preparation-steps">
        {{ recipe.preparation_steps|linebreaksbr }}
    </div>
    {% endif %}
</div>