:root {
    --color-primary: #269fe6;
    --color-primary-hover: #2086c2;
    --color-primary-dark: #13141f;
    --color-primary-dark-hover: #212336;
    --color-primary-light: #d4ecfa;
    --color-primary-light-hover: #bdd8e7;

    --color-white: #fff;
    --color-black: #000;

    --color-dark-text: #444;
    --color-info-light: #cce5ff;
    --color-debug-light: #cce5ff;
    --color-success-light: #d4edda;
    --color-alert-light: #fff3cd;
    --color-warning-light: #fff3cd;
    --color-error-light: #f8d7da;

    --color-info-dark: #4d86c4;
    --color-debug-dark: #4d86c4;
    --color-success-dark: #4a9c5d;
    --color-alert-dark: #927f40;
    --color-warning-dark: #927f40;
    --color-error-dark: #da525d;

    --color-gray-0: #f9f9f9;
    --color-gray-1: #e0e0e0;
    --color-gray-2: #c7c7c7;
    --color-gray-3: #aeaeae;
    --color-gray-4: #959595;
    --color-gray-5: #7d7d7d;
    --color-gray-6: #646464;
    --color-gray-7: #4b4b4b;
    --color-gray-8: #323232;
    --color-gray-9: #191919;

    --font-primary: sans-serif;
    --font-headings: 'Roboto Slab', serif;

    --spacing-gutter-thin: 2rem;
    --spacing-gutter-medium: 3rem;
    --spacing-gutter-large: 4rem;
}

.hidden-text {
    display: none;
}

.menu-container {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    width: 260px;
    min-height: 100vh;
    overflow-y: auto;
    background: var(--color-primary);
    opacity: 0.9;
    z-index: 2;
    transition: all 300ms ease-in-out;
}

.menu-container a {
    color: var(--color-white);
    font-size: medium;
}

.menu-hidden {
    left: -255px;
}

.button-show-menu {
    position: fixed;
    left: 260px;
    top: var(--spacing-gutter-medium);
    color: var(--color-white);
    background-color: var(--color-primary);
    border: none;
    font-size: var(--spacing-gutter-thin);
    z-index: 3;
    padding: 1rem;
    visibility: visible;
    opacity: 0;
    transition: all 300ms ease-in-out;
    border-radius: 0 4px 4px 0;
    cursor: pointer;
}

.button-show-menu-visible {
    visibility: visible;
    opacity: 1;
    left: 5px;
}

.button-close-menu {
    position: absolute;
    top: 1rem;
    right: 1rem;
    color: var(--color-white);
    background: none;
    border: none;
    font-size: var(--spacing-gutter-medium);
    z-index: 3;
    cursor: pointer;
}

.menu-nav {
    display: flex;
    flex-flow: column wrap;
    font-family: var(--font-headings);
    font-size: var(--spacing-gutter-thin);
}

.menu-nav a {
    width: 100%;
    padding: 1rem;
    z-index: 4;
}